@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Light.eot") format("eot");
  src: url("../fonts/CalibreWeb-Light.woff") format("woff");
  src: url("../fonts/CalibreWeb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Regular.eot") format("eot");
  src: url("../fonts/CalibreWeb-Regular.woff") format("woff");
  src: url("../fonts/CalibreWeb-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Medium.eot") format("eot");
  src: url("../fonts/CalibreWeb-Medium.woff") format("woff");
  src: url("../fonts/CalibreWeb-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Semibold.eot") format("eot");
  src: url("../fonts/CalibreWeb-Semibold.woff") format("woff");
  src: url("../fonts/CalibreWeb-Semibold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

$font-sans: 'Calibre';
