// You came here to read CSS?
$primary: #000;
$accent: #dae5ff;
$white: #fff;
$gray: #f5f5f5;

*,
*::after,
*::before,
figure {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba($primary, .1);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background-color: $white;
  color: $primary;
  font-family: $font-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  letter-spacing: -0.03em;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none !important;
  color: rgba($primary, 0.5);
  will-change: color;
  transition: color 0.3s ease-in-out;


  &:hover {
    color: rgba($primary, 1);
  }
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;

  @include for-size(sm) {
    max-width: 420px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  // @include for-size(md) {
  //   max-width: 1140px;
  //   padding-left: 4rem;
  //   padding-right: 4rem;
  // }
  //
  // @include for-size(lg) {
  //   max-width: 1740px;
  //   padding-left: 8rem;
  //   padding-right: 8rem;
  // }
  //
  // @include for-size(xl) {
  //   max-width: 2000px;
  // }
}

.intro {
  display: flex;
  height: 60vh;
  align-items: center;

  @include for-size(sm) {
    height: 70vh;
  }

  @include for-size(md) {
    height: 75vh;
  }

  h1 {
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: -5vh; //For default i.e. below sm

    @include for-size(sm) {
      font-size: 5vw;
      margin-top: -5vw;
      max-width: 90%;
    }

    @include for-size(xl) {
      font-size: 6rem;
      margin-top: -6rem;
    }
  }
}

.personal {
  display: flex;
  width: 100%;
  padding: 1.5rem 0;

  .profile {
    align-self: flex-start;

    img {
      width: 50%;
      max-width: 100px;

      @include for-size(lg) {
        width: 75%;
      }

      @include for-size(xl) {
        width: 100%;
      }
    }
  }

  .resume {
    font-weight: 500;
    letter-spacing: 0;
    margin-left: auto;
    align-self: center;
  }
}

.projects {
  background-color: $gray;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .label {
    display: flex;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: rgba($primary, 0.5);
    font-size: 0.8rem;
    letter-spacing: 0;
  }
}

ul.p-list {
  list-style: none;
  margin-bottom: 5rem;

  li {
    border-bottom: 1px solid rgba($primary, 0.05);
    will-change: background-color;
    transition: background-color 0.4s ease;
    display: flex;

    &:hover {
      background-color: rgba($primary, 0.02);

      &:after {
        content: '\2192';
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1rem;
        font-size: 1rem;

        @include for-size(sm) {
          font-size: 2rem;
        }
      }
    }

    a{
      display: flex;
      font-size: 1.5rem;
      font-weight: 500;
      color: $primary;
      padding: 1rem 0;
      width: 100%;

      @include for-size(sm) {
        font-size: 3vw;
        padding: 1.5rem 0;
      }

      @include for-size(xl) {
        font-size: 4rem;
        padding: 2rem 0;
      }

      &:hover {

      }
    }
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  align-items: center;

  li a {
    display: inline-flex;
    margin-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0;
  }
}


// Study Pages

.page-study {
  padding-top: 4rem; //because page-header
}

.page-header {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: -4rem;
  background-color: rgba($white, 0.95);
  box-shadow: 0px 1px 8px 0 rgba($primary, .05);

  @include for-size(md) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  a {
    display: inline-flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgba($primary, 0.5);
    text-transform: uppercase;

    @include for-size(sm) {
      font-size: 1.2rem;
    }
  }
}

.page-title {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 700;

  @include for-size(sm) {
    margin-top: 1vw;
    font-size: 5vw;
  }

  @include for-size(md) {
    margin-top: 2vw;
    margin-left: -0.2vw;
  }

  @include for-size(xl) {
    font-size: 6rem;
    margin-top: 2.5rem;
    margin-left: -0.3rem;
  }
}

p {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.2;
  color: rgba($primary, 0.7);
  max-width: 90%;
  letter-spacing: -0.01em;

  @include for-size(sm) {
    font-size: 2.5vw;
    max-width: 75%;
  }

  @include for-size(md) {
    font-size: 1.5vw;
    max-width: 50%;
  }

  @include for-size(xl) {
    font-size: 2rem;
  }
}

.highlight {
  background-color: $accent;
  color: rgba($primary, 0.7);
  padding: 0rem 0.2rem;
  will-change: background-color;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: darken($accent,5%);
  }
}

.images {
  figure {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include for-size(sm) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    @include for-size(md) {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
}

figure.one {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

figure.one-smaller {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;

    @include for-size(md) {
      max-width: 60%;
    }
  }
}

figure.two {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    margin-bottom: 2rem;

    @include for-size(sm) {
      width: 50%;
      height: 50%;
      margin-bottom: 0;
    }
  }
}

figure.three {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  img {
    width: 50%;
    height: 50%;
    align-self: flex-start;
    margin-bottom: 2rem;

    @include for-size(sm) {
      width: 25%;
      height: 25%;
      margin-bottom: 0;
    }
  }
}


figure.four {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50%;
    height: 50%;
    align-self: flex-start;
    margin-bottom: 2rem;

    @include for-size(md) {
      width: 25%;
      height: 25%;
      margin-bottom: 0;
    }
  }
}
